<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Order type</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Quantity Remaining</th>
      <th>Fulfilled at</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.stock.symbol, order.stock %></td>
        <td><%= order.type %></td>
        <td><%= order.quantity %></td>
        <td><%= order.price %></td>
        <td><%= order.quantity_unfilled %></td>
        <td><%= order.canceled? ? 'Canceled' : order.fulfilled_at %></td>
        <td><%= link_to 'Cancel', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } if order.active? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
