<div>Hi <%= @user.email %></div>
<div>Current money: <%= @user.money %></div>

<table>
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Purchase cost</th>
      <th>Current price</th>
      <th>Total value</th>
      <th>Change</th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio.each do |position| %>
      <tr>
        <td><%= position.stock.symbol %></td>
        <td><%= position.total_quantity %></td>
        <td><%= position.cost %></td>
        <td><%= position.market_price %></td>
        <td><%= position.total_value %></td>
        <td><%= position.percentage_change %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>


